/* ------------------------------
         * VARIABLES *
------------------------------ */

/* ************************* 
     CUSTOM PROPERTIES
************************* */

        /* COLOR */

:root {
--bg-first: #019588;
--bg-second: #DBDAD2;
--color-top-bar: #EAEAEA;
--color-bottom-bar: #F3EEEB;
--color-notification: #8FDAFC;
--color-message-in: #fff;
--color-message-out: #D4F9BB;
--bar-nomes: #fff;
--scrol-bar: #C1C1C1;
--color-icon-top-bar: #B1B1B1;
--color-icon-bottom-bar: #6B7376;
--color-text-primary: #080000;
--color-text-secondary: #BEC5CA;
--color-text-message: #8B9398;
--color-text-sent: #057f3e;
}

        /* FONT SIZE */

h1 {font-size: 1.2rem;}
h2 {font-size: 1rem;}
h3 {font-size: 0.94rem;}
h4 {font-size: 0.88rem;}
h5 {font-size: 0.82rem;}
h6 {font-size: 0.75rem;}

P {font-size: 0.94rem;}

li,
a {font-size: 0.94rem;}


/* ------------------------------
          *** FINE ***
------------------------------- */




